{% extends 'layout.html'%}
{% block content %}
{% load static %}
{% load humanize %}
{% load i18n thaidate %}
{% load crispy_forms_tags %} 
<style>
    a{
      text-decoration: none;
      font-size: 18px;
    }
    p{
      font-size: 16px;
    }
    h3{
        font-family: 'Mitr', sans-serif;
    }
    .m1{
    font-weight: bold;
    color: rgb(192, 15, 15);
}
.m2{
    font-weight: bold;
    font-size: 18;
    color: rgb(87, 20, 163);
}
.header {
  font-weight: bold;
    font-size: 16;
    color: rgb(14, 22, 97);
}

  </style>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a>กรอกลง sgs</a></li>
  </ol>
</nav>
<div class = "card callout-top ">
  <div class = "container-fluid" align = "center">
<h3>กรอกลง sgs</h3>
<hr>
{% for msg in messages %}
<div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
  {{msg}} 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<form class="row g-3" method="POST" action="{% url 'syncnow' %}">
{% csrf_token %}
<div class="col">
  <label>Server</label>
  <select class = "form-select" name = "server">
    {% for i in s_range %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
  </select>
</div>
<div class="col">
  <label>ชื่อผู้ใช้</label>
  <input class="form-control" name = "username" type = "text" value = "{{data.th_id}}">
</div>
<div class="col">
  <label>รหัสผ่าน</label>
  <input class="form-control" name = "password" type = "text" value = "{{data.tel}}">
</div>
<div><button type = "submit" class="btn btn-primary">เริ่ม</button></div>

</form>
</div>
</div>

{% endblock %}
{% block javascript %}
  <script>
    $(document).ready( function() {

// Save last active tab to sessionStorage
$('a[data-bs-toggle="tab"]').on('shown.bs.tab', function () {
    try {
        sessionStorage.setItem('lastTab', $(this).attr('href'));
    } catch (error) {
        console.log(error);
    }
});

// Get last active tab from sesssionStorage and go there
var lastTab = sessionStorage.getItem('lastTab');
if (lastTab) {
    $('[href="' + lastTab + '"]').tab('show');
}

});
    var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
triggerTabList.forEach(function (triggerEl) {
  var tabTrigger = new bootstrap.Tab(triggerEl)

  triggerEl.addEventListener('click', function (event) {
    event.preventDefault()
    tabTrigger.show()
  })
})
  $( document ).ready(function() {
    $('#changepicture').on("click",function(){
      var a= $('#changepic');
      if (a.css('display') == 'none'){
        a.css("display", "block");
      }
      else {
        a.css("display", "none");
      }
      
    });
});
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
$("#id_path").change(function () {

  if (this.files && this.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      
      $("#image").attr("src", e.target.result);
      $("#modalCrop").modal("show");
    }
    reader.readAsDataURL(this.files[0]);
  }
});

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
var $image = $("#image");
var cropBoxData;
var canvasData;
$("#modalCrop").on("shown.bs.modal", function () {
  $image.cropper({
    autoCropArea: 0.5,
    viewMode: 1,
    aspectRatio: 3.2/4,
    minCropBoxWidth: 200,
    minCropBoxHeight: 200,
    ready: function () {
      $image.cropper("setCanvasData", canvasData);
      $image.cropper("setCropBoxData", cropBoxData);
    }
  });
}).on("hidden.bs.modal", function () {
  cropBoxData = $image.cropper("getCropBoxData");
  canvasData = $image.cropper("getCanvasData");
  $image.cropper("destroy");
});

// Enable zoom in button
$(".js-zoom-in").click(function () {
  $image.cropper("zoom", 0.1);
});

// Enable zoom out button
$(".js-zoom-out").click(function () {
  $image.cropper("zoom", -0.1);
});

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
$(".js-crop-and-upload").click(function () {
  var cropData = $image.cropper("getData");
  $("#id_x").val(cropData["x"]);
  $("#id_y").val(cropData["y"]);
  $("#id_height").val(cropData["height"]);
  $("#id_width").val(cropData["width"]);
  $("#formUpload").submit();
});

    });
  </script>
{% endblock %}
